---
---

<div class="places">
  <slot />
</div>

<style>
  .places {
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: var(--space-6);

    align-items: center;

    padding: var(--space-4) var(--space-4) var(--space-8);
    box-sizing: border-box;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .places::-webkit-scrollbar {
    display: none;
  }

  /* Reduced motion */
  @media (prefers-reduced-motion: reduce) {
    .places {
      -webkit-overflow-scrolling: auto;
    }
  }

  /* Mobile layout */
  @media (max-width: 1024px) {
    .places {
      height: auto;
    }
  }
</style>
