---
import LandingLayout from "../layouts/LandingLayout.astro";
import Hero from "../components/Hero.astro";
import PreviewCard from "../components/PreviewCard.astro";
---

<LandingLayout title="Nuptiae">
  <Hero/>

  
    <!--
  <section class="preview">
    <PreviewCard 
      id="ritual-preview"
      link="/nuptiae/rituals"
      title="Les cérémonies"
      subtitle="Découvrir →"
    />

    <PreviewCard 
      id="location-preview"
      link="/nuptiae/location"
      title="Le lieu"
      subtitle="Explorer →"
    />

    <PreviewCard 
      id="region-preview"
      link="/nuptiae/region"
      title="La région"
      subtitle="Explorer →"
    />
  </section>

   -->
  
</LandingLayout>

<style>
.preview {

}
</style>
