---
import LandingLayout from "../layouts/LandingLayout.astro";
import Hero from "../components/Hero.astro";
import Rituals from "../components/Rituals.astro";

import heroImage from "../assets/hero-image.png";
---

<LandingLayout title="Nuptiae – Mariage hindou">
  <div class="scroll-container">
    <!-- HERO -->
    <Hero
      title="Au-delà des océans"
      image={heroImage}
    />

    <!-- STORY 1 : EXPLICATION -->
    <Rituals />
  </div>
</LandingLayout>
