---
import TopGarland from "./TopGarland.astro";
import LocationHero from "./location/LocationHero.astro";
import LocationMap from "./location/LocationMap.astro";
import LocationRegion from "./location/LocationRegion.astro";
import LocationAccommodation from "./location/LocationAccommodation.astro";

import hero from "../assets/location/hero-image.png";
---

<section id="location" class="location">

  <TopGarland />
  
  <LocationHero image={hero} title="Lieu" />

  <LocationMap />

  <LocationRegion />

  <LocationAccommodation />

</section>

<style>

  .location {
    position: relative;
    background: #fff;
  }

  .location section + section {
    margin-top: 0;
  }

  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    .location {
      background: var(--color-page);
      color: var(--color-text);
    }
  }
</style>

<script>
  import { hideElementOnSectionVisible } from "../utils/visibility";

  hideElementOnSectionVisible(".top-garland", "[data-hide-garland]");
</script>